@use '../../styles/mixins'as *;

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 80px 0;
  padding: 40px;
  background-color: var(--card-background-color);
  border-radius: 20px;
  transition: all 0.3s ease;

  @include md {
    margin: 120px 0;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    text-align: center;

    &.korean {
      font-family: 'Pretendard', sans-serif; // Updated font
      font-weight: 300;
      font-size: 32px;
      line-height: 1.4;

      .title {
        margin-bottom: 24px;

        .highlight {
          color: var(--primary-color);
          font-weight: 600;
        }
      }

      @include md {
        font-size: 40px;
      }
    }

    &.english {
      font-family: 'Montserrat', sans-serif; // Kept Montserrat for English
      font-size: 25px;
      line-height: 1.4;
      // color: var(--primary-text-color);

      @include md {
        font-size: 35px;
      }

      .name {
        font-size: 40px;
        font-weight: 600;
        color: var(--primary-color);
        margin-bottom: 8px;
      }

      .job {
        font-size: 30px;
        color: var(--secondary-color);
      }

      .description {
        font-weight: 300;
        margin-top: 16px;
        font-size: 20px;
        color: var(--secondary-text-color);
      }

      .social-links {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        gap: 16px;

        .icon {
          color: var(--bio-link-icon-color);
          transition: all 0.2s ease;

          &:hover {
            color: var(--accent-color);
            transform: translateY(-2px);
          }
        }
      }
    }
  }

  // Removed thumbnail-wrapper
}
